@import "./../css/reset.css";

@import "./mixin.scss";
@import "./variables.scss";




.header-section.container {
    padding-top: 30px;
    @include container();

    .top-bar {
        height: 87px;
        background-color: $white;
        @include flex-between();
        align-items: center;

        .logo {
            width: 148px;
            height: 47px;
        }

        .header-right {
            @include flex-center();

            .intro-info {
                @include flex-row();
                margin-right: 53px;
                font-family: $regular;
                font-size: 15px;
                font-weight: normal;

                .red {
                    color: red;
                    padding-right: 10px;
                }

                .black {
                    color: $black;
                }

            }

            .add-to-cart {
                @include flex-column();
                margin-right: 25px;

                .cart-sign {
                    height: 45px;
                    width: 45px;
                    background-color: #f5f5f5;
                    border-radius: 50%;
                    position: relative;
                    text-align: center;
                    line-height: 45px;

                    .number {
                        height: 25px;
                        width: 25px;
                        background-color: red;
                        border-radius: 50%;
                        position: absolute;
                        text-align: center;
                        line-height: 25px;
                        color: $white;
                        top: -9px;
                        right: -6px;
                    }
                }
            }

            .intro-buttons {
                border: 1px solid $white;
                @include flex-row();

                .btn {
                    width: 80px;
                    height: 30px;
                    border-radius: 4px;
                    font-family: "Roboto Medium", sans-serif;
                    color: $white;
                    line-height: 30px;
                    text-align: center;
                    margin-right: 10px;
                }

                .login-button {
                    background-color: $green;
                }

                .register-button {
                    background-color: #ed7c70;
                }
            }
        }
    }

}

.menu {
    height: 66px;
    background-color: $background-blue;

    .container {
        @include container();

        ul {
            @include flex-evenly();
            align-items: center;
            height: 60px;
            padding-left: 50px;
            padding-right: 50px;

            li {
                font-family: $medium;
                font-size: 14px;
                color: $white;
                text-decoration: none;

                a {
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        color: $green;
                    }
                }

            }
        }
    }
}

.banner {
    height: 532px;
    background-image: url("./../img/background.png");
    color: $white;
    text-align: center;
    position: relative;
    padding-top: 150px;

    .welcome {
        font-family: $bold;
        font-size: 48px;
        padding: 20px;
    }

    .caption {
        font-family: $medium;
        font-size: 20px;
        padding: 20px;
    }

    .search-block{
        position: relative;
        width: 674px;
        margin: auto;
        .search-bar {
            width: 100%;
            height: 52px;
            background-color: $white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            /* Параметры тени */
            padding-left: 20px;
            padding-top: 9px;   
        }
        .search-icon {
            position: absolute;
            top: 20px;
            right: 18px;
            cursor: pointer;
            .fa-search {
                color: gray;
            }
        }
    }
}


.middle_section{
    .new-theme-boxes{
        @include flex-column(); 
        width: 100%; 
        padding: 100px 32px;

        .new-theme{
            @include flex-column(); 
            justify-content: center; 
            height: 305px; 
            background-color: #f4f6f5; 
            text-align: center;
            padding-bottom: 70px; 

                p{
                    font-family: $bold; 
                    font-size: 36px; 
                    color: $background-blue; 
                    margin: auto; 
                    margin-bottom: 62px; 
                    margin-top: 123px; 


                }
                .tab-bar{
                    @include flex-between();
                    margin: auto; 
                    .tablinks{  
                        @include btn-tab(); 
                        margin-left: 10px; 
                        cursor:pointer; 
                            &.active{
                                    background-color: red; 
                                    color: white; 
                                }

                        }
            }
        
        
        }
    
        .product-section{
            @include flex-between();  
            flex-wrap: wrap; 
            width: 100%; 
            .product{
                @include product-card(); 
            }
        }
        .product-btn{
            @include flex-row(); 
            margin: auto; 
            padding-top: 78px; 
            padding-bottom: 114px; 

            .tablinks{  
                @include btn-tab(); 
                cursor:pointer; 
                font-weight: normal; 
                border: $border-color; 
                margin: 12px; 
                a{
                    text-decoration: none; 
                }
            }
        }
    }
    .new-trending-product{
        @include flex-column(); 
            width: 100%; 
        .trending-products-name{
            font-family: $regular; 
            font-size: 36px; 
            color: #263238;
            text-align: center; 
            font-weight: normal; 
        }
        .products-all{
            @include flex-between(); 
            .product{
                @include product-card(); 
                margin:10px; 

            }
        }
    }       
    .choose-foxtar{
        width: 100%; 
        height: 620px; 
        background-color:$background-blue; 
        padding: 125px; 
        .choose-title{
            font-family:$bold; 
            font-size: 36px; 
            color: $white;  
            text-align: center; 
            padding-bottom: 90px;   
        }
        .choose-blocks-container{
            @include flex-between(); 
            .choose-blocks{
                @include flex-between; 
                width: 100%; 
                margin: auto; 
                .choose-element{
                    @include flex-column; 
                    justify-content: center; 
                    cursor: pointer; 
                        &:hover{
                            #green-choose-name{
                                color: $green; 
                        }
                    }
                
                    .circle-pic{
                        height: 115px;
                        width: 115px; 
                        background-color: $no-image-color; 
                        border-radius: 50%;
                        margin: auto;
                        margin-bottom: 35px;
                    }
                    .choose-name{
                        font-family: $medium; 
                        font-size: 24px; 
                        color: $white; 
                        text-align:center;
                        margin-bottom: 30px;
                        }
                    .choose-description{
                        font-family: $regular; 
                        font-size: 15px; 
                        color: #b0bec5; 
                        text-align:center; 
                    }
            }
        }
    }
}
    .advertisement{
        @include flex-column(); 
        margin: auto; 
        height: 706px; 
        background: $white; 
        .gray-rectangle{
            width: 1104px; 
            height: 435px; 
            @include flex-column; 
            margin: auto; 
            background-color: #b7b7b7; 
            .green-rectangle{
                @include flex-between(); 
                width: 653px; 
                height: 216px; 
                background-color: #9ac16d; 
                margin: auto; 
                .caption{
                    font-family: $regular; 
                    font-size: 30px; 
                    color: $white; 
                    margin: auto;   
                    cursor: pointer;
                }
                .white-rectangle{
                    width: 226px; 
                    height: 62px; 
                    line-height: 62px; 
                    text-align: center; 
                    background-color: $white; 
                    font-family: $regular; 
                    font-size: 18px; 
                    color: #263238; 
                    margin: auto; 
                        &:hover{
                            color: $green; 
                        }
                                }
            }

        }
    }
    .free-tutorials{
        height: 699px; 
        background: $white; 
        margin: auto; 
        .free-tutorials-title{
            font-family: $bold; 
            font-size: 36px; 
            text-align: center; 
            color: $background-blue;
            padding: 50px;
        }
        .tutorial-block-container{
                @include flex-between();
                padding: 30px; 
                .free-tutorials-blocks{
                    @include flex-between(); 
                    width: 100%; 
                    .tutorial-product{
                        width: 372px; 
                        height: 372px;
                        border: $border-color; 
                        .icon-image{
                            width: 100%; 
                            height: 269px; 
                            background-color: #cdcdcd; 

                        }
                        .white-cpation{
                            height: 102px; 
                            border-top: $border-color; 
                            font-family: $bold;  
                            font-size: 24px; 
                            color: $background-blue;
                            text-align: center; 
                            line-height: 102px; 
                        }
                    }
                }
            }
        }
    }

footer{
    background-color: $background-blue; 
    height: 565px; 
    color: $white; 
    .footer-blocks{
        @include flex-between; 
        padding-top: 110px; 
        padding-left: 269px; 
        padding-right: 269px; 
        .footer-block{
            @include flex-column; 
            .fa-ul{
                display: inline-block;  
                margin: 20px; 
                font-family: $regular; 
                color: #b7c3c8; 
                font-size: 15px; 
                line-height: 30px;
                .fa-arrow-right{
                    color: $green;  
                }
            } 
            }

            .footer-title{
            font-family: "Raleway Bold", sans-serif; 
            font-size: 22px; 
            color: $white;  
            padding-bottom: 30px;
            }
            .green-line{
                width: 116px;
                height: 2px;
                background-color: #9ac16d;
                margin-bottom: 10px; 
            }
            .text{
                font-family: $regular; 
                font-size: 15px; 
                color: #b7c3c8; 
                padding-bottom: 50px;

            }
            .adress{
                @include flex-evenly(); 
                .fa-map-marker-alt{
                    color:$green; 
                }
                .actual-adress{
                    font-family: "Lato Semibold", sans-serif; 
                    font-size: 14px; 
                    color: $white; 
                    padding-bottom: 20px; 

                }
            }
            .telephone{
                .fa-phone{
                    color: $green; 
                }
                .actual-telephone{
                    @include flex-evenly(); 
                    padding-right: 70px;
                }
            }    
        }
    .footer-end{
            width: 100%; 
            background-color: $background-blue; 
            color: $white; 
            text-align: left; 
            padding-left: 269px; 
            padding-top: 100px; 
        }
    }
