@import "./variables"; 

@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

@mixin flex-between() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin flex-around() {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin flex-evenly() {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@mixin container() {
    max-width: 1170px;
    margin: auto;
}
@mixin container-adaptive(){
    max-width: 425px; 
    margin: auto; 
}
@mixin container-adaptive-768(){
    max-width: 768px; 
    margin: auto;
}
@mixin container-adjusted(){
    max-width: 1920px; 
    margin:auto; 
}

@mixin btn-tab {
    height: 37px;
    font-family: "Roboto Medium", sans-serif;
    color: #263238;  
    font-size: 14px;
    line-height: 37px;  
    text-align: center;
    padding: 0 28px;
    background-color: #ffffff;
    font-weight: bold;
}

@mixin product-card() {
    width: 442px;
    height: 413px;
    border: $border-color;
    margin-bottom: 31px;

    .image-box {
        width: 100%;
        height: 254px;
        background-color: $no-image-color;
        position: relative;

        .bolt {
            top: 0;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 63px solid $green;
            border-right: 64px solid transparent;

            i {
                color: $white;
                font-size: 16px;
                bottom: 30px;
                left: 15px;
                position: absolute;

            }
        }
    }
    
    .main-info {
        @include flex-column;
        height: 91px;
        border: $border-color;
        text-align: left;
        padding: 20px;

        .info-name {
            .product-name {
                font-family: $medium;
                font-size: 18px;
                color: $background-blue;

            }

            .product-detail {
                font-family: $medium;
                font-size: 14px;
                color: #888f80;
                padding-top: 15px;
            }

           
        }
        .product-price {
            font-family: $medium;
            font-size: 18px;
            color: $background-blue;
            text-align: right;

        }
    }

    .additional-info {
        @include flex-row();
        padding: 7px 20px;

        h3 {
            font-family: $medium;
            font-size: 14px;
            color: $background-blue;
        }

        i {
            color: gold;
        }

        .circle-icon {
            height: 45px;
            width: 45px;
            background-color: $no-image-color;
            border-radius: 50%;
            margin-right: 15px;

        }
    }
}

@mixin product-card-adjusted() {
    width: 270px;
    height: 336px;
    border: $border-color;
    margin-bottom: 31px;

    .image-box {
        width: 100%;
        height: 178px;
        background-color: $no-image-color;
        position: relative;

        .bolt {
            top: 0;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 63px solid $green;
            border-right: 64px solid transparent;

            i {
                color: $white;
                font-size: 16px;
                bottom: 30px;
                left: 15px;
                position: absolute;

            }
        }
    }
    
    .main-info {
        @include flex-column;
        height: 91px;
        border: $border-color;
        text-align: left;
        padding: 20px;

        .info-name {
            .product-name {
                font-family: $medium;
                font-size: 18px;
                color: $background-blue;

            }

            .product-detail {
                font-family: $medium;
                font-size: 14px;
                color: #888f80;
                padding-top: 15px;
            }

           
        }
        .product-price {
            font-family: $medium;
            font-size: 18px;
            color: $background-blue;
            text-align: right;

        }
    }

    .additional-info {
        @include flex-row();
        padding: 7px 20px;

        h3 {
            font-family: $medium;
            font-size: 14px;
            color: $background-blue;
        }

        i {
            color: gold;
        }

        .circle-icon {
            height: 45px;
            width: 45px;
            background-color: $no-image-color;
            border-radius: 50%;
            margin-right: 15px;

        }
    }
}

@mixin gray-line{
    width: 209px;
    height:1px; 
    background-color: $no-image-color;
    
}

@mixin filters-title{
    font-family: $bold; 
    font-size: 20px;
    font-weight: normal;
    padding-top: 28px;
    padding-bottom: 15px;}
   
                        

@mixin mini-product{
        width:200px; 
        border: 1px solid #d4d4d4; 
    
        .image-box {
            width: 199px;
            height: 120px;
            background-color: $no-image-color;
            
            }
        
        .main-info {
            @include flex-column;
            height: 61px;
            border: $border-color;
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid #d4d4d4;
    
            .info-name {
                .product-name {
                    font-family: $medium;
                    font-size: 12px;
                    color: $background-blue;
    
                }
    
                .product-detail {
                    font-family: $medium;
                    font-size: 10px;
                    color: #888f80;
                    padding-top: 15px;
                }
    
               
            }
            .product-price {
                font-family: $medium;
                font-size: 13px;
                color: $background-blue;
                text-align: right;
    
            }
        }
    
        .additional-info {
            @include flex-row(); 
            justify-content: space-between(); 
            height: 40px; 
            padding-right: 20px; 
            h3 {
                font-family: $medium;
                font-size: 10px;
                margin: auto; 
                color: $background-blue;
            }
    
            i {
                margin-right: 13px; 
                margin-top: 10px; 
                width: 2px; 
                color: gold;
            }
    
            .circle-icon {
                height: 25px;
                width: 25px;
                margin:auto; 
                background-color: $no-image-color;
                border-radius: 50%;
    
            }
        }
    }
    @mixin super-button{
        width: 205px; 
        height:45px; 
        background-color: #8bc34a; 
        cursor:pointer; 
        font-family: $medium; 
        color: #ffffff; 
        line-height: 45px; 
        text-align: center; 
        margin-bottom: 32px; 
        
    }
