$background-blue: #263238; 
$green: #8bc34a; 
$white: #fff; 
$black: black; 
$border-color:1px solid #d4d4d4; 
$no-image-color:#d4d4d4; 

$medium: "Roboto Medium", sans-serif; 
$bold:  "Roboto Bold", sans-serif; 
$regular: "Roboto Regular", sans-serif;

